*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.box{
    height: 174px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
}
.sub{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 6px;
}
.miniBox{
    height: 6px;
    width: 6px;
    border: 0.01px solid #2224;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}
.grey{
    background-color: #5E5D5A;
}
.blue{
    background-color: #426899;
}
.sky{
    background-color: #77AFD6;
}
.skin{
    background-color: #E3C597;
}
.red{
    background-color: #BE2E36;
}
.brown{
    background-color: #62473B;
}